body {
  font-family: 'SF Pro Text', 'Roboto', sans-serif;
  background-color: #E5E5E5;
  color: #696D8C;
  padding-top: 80px;
  padding-bottom: 90px;
  /* Confirmation Screen */ }
  body header {
    text-align: center; }
  body .logo {
    text-align: center;
    color: #0C29D0; }
  body .subtitle {
    text-align: center;
    line-height: 31px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 37px;
    color: #312F4F; }
  body .row {
    margin-top: 24px; }
  body section {
    width: 100%;
    max-width: 515px;
    padding: 60px 70px 48px 70px;
    margin: auto;
    background: #FFFFFF;
    border: 3px solid #F2F2F2;
    box-sizing: border-box; }
  body label {
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 8px; }
  body input {
    background: #FFFFFF;
    border: 1px solid #B6B9D0;
    box-sizing: border-box;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 44px;
    margin-top: 8px;
    padding: 15px 0px;
    font-family: Soleil, 'Roboto';
    line-height: 26px;
    font-size: 16px;
    text-indent: 16px;
    color: #312F4F; }
    body input.success {
      border-color: #1FE6A8;
      outline-color: #1FE6A8; }
    body input.error {
      border-color: #F79682;
      outline-color: #F79682; }
  body .password-strength {
    width: 32%;
    height: 8px;
    display: inline-block;
    background: #EAEAF4;
    border-radius: 10px; }
    body .password-strength.success {
      background-color: #1FE6A8; }
    body .password-strength.warning {
      background-color: #F7BC1C; }
    body .password-strength.error {
      background-color: #F79682; }
  body .btn-submit {
    height: 52px;
    background-color: #17D499;
    font-weight: 600;
    width: 100%;
    border: none;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF; }
    body .btn-submit:focus {
      outline-color: #17D499;
      outline-offset: 1px;
      outline-width: 1px;
      outline-style: solid; }
    body .btn-submit:hover:not([disabled]) {
      background-color: #12a97a;
      cursor: pointer; }
    body .btn-submit:active {
      background-color: #0d7d5a; }
  body ul.list-password {
    padding-left: 0px;
    list-style: none; }
    body ul.list-password span {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #EAEAF4;
      display: inline-block;
      margin-right: 8px; }
      body ul.list-password span.success {
        background-color: #1FE6A8; }
      body ul.list-password span.error {
        background-color: #F79682; }
  body .ellipse {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: scale(0.4);
    display: none; }
    body .ellipse.e2 {
      animation-delay: 0.15s; }
    body .ellipse.e3 {
      animation-delay: 0.3s; }
  body .btn-submit.loading .lbl-criar-conta {
    display: none; }
  body .btn-submit.loading .ellipse {
    animation-duration: 0.45s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: animate;
    animation-timing-function: ease-in-out;
    display: inline-block; }
  body .confirmation {
    text-align: center;
    margin: 92px 60px; }
    body .confirmation .subtitle {
      margin-bottom: 21px;
      margin-top: 16px; }
    body .confirmation img.checked {
      border: 3px solid #17D499;
      border-radius: 50%;
      padding: 29px 24px 26px 24px;
      width: 35px;
      height: 26px; }
    body .confirmation span {
      line-height: 26px;
      font-size: 16px;
      color: #312F4F; }

@keyframes animate {
  0% {
    transform: scale(0.4); }
  100% {
    transform: scale(1); } }

