
$bg-color: #E5E5E5;
$logo-color: #0C29D0;
$text-color: #312F4F;
$label-color: #696D8C;
$requirement-color-default: #EAEAF4;
$requirement-color-success: #1FE6A8;
$requirement-color-warning: #F7BC1C;
$requirement-color-error: #F79682;
$button-success-color: #17D499;
$button-success-color-hover: #12a97a;
$button-success-color-active: #0d7d5a;

body {
    font-family: 'SF Pro Text', 'Roboto', sans-serif;
    background-color: $bg-color;
    color: $label-color;
    padding-top: 80px;
    padding-bottom: 90px;

    header {
        text-align: center;
    }
    .logo {
        text-align: center;
        color: $logo-color;
    }

    .subtitle {
        text-align: center;
        line-height: 31px;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 37px;
        color: $text-color;
    }

    .row {
        margin-top: 24px;
    }

    section {
        width: 100%;
        max-width: 515px;
        padding: 60px 70px 48px 70px;
        margin: auto;

        background: #FFFFFF;
        border: 3px solid #F2F2F2;
        box-sizing: border-box;
    }

    label {
        line-height: 26px;
        font-size: 16px;

        margin-bottom: 8px;
    }

    input {
        background: #FFFFFF;
        border: 1px solid #B6B9D0;
        box-sizing: border-box;
        box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
        width: 100%;
        height: 44px;
        margin-top: 8px;
        padding: 15px 0px;

        font-family: Soleil, 'Roboto';
        line-height: 26px;
        font-size: 16px;
        text-indent: 16px;

        color: $text-color;

        &.success {
            border-color: $requirement-color-success;
            outline-color: $requirement-color-success;
        }
        &.error {
            border-color: $requirement-color-error;
            outline-color: $requirement-color-error;
        }
    }

    .password-strength {
        width: 32%;
        height: 8px;
        display: inline-block;

        background: $requirement-color-default;
        border-radius: 10px;

        &.success {
            background-color: $requirement-color-success;
        }
        &.warning {
            background-color: $requirement-color-warning;
        }
        &.error {
            background-color: $requirement-color-error;
        }
    }

    .btn-submit {
        height: 52px;
        background-color: $button-success-color;
        font-weight: 600;
        width: 100%;
        border: none;
        line-height: 26px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;

        &:focus {
            outline-color: $button-success-color;
            outline-offset: 1px;
            outline-width: 1px;
            outline-style: solid;
        }

        &:hover:not([disabled]) {
            background-color: $button-success-color-hover;
            cursor: pointer;
        }
        &:active {
            background-color: $button-success-color-active;
        }
    }

    ul.list-password {
        padding-left: 0px;
        list-style: none;

        span {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $requirement-color-default;
            display: inline-block;
            margin-right: 8px;

            &.success {
                background-color: $requirement-color-success;
            }
            &.error {
                background-color: $requirement-color-error;
            }
        }
    }

    .ellipse {
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        border-radius: 50%;
        transform: scale(0.4);
        display: none;

        &.e2 {
            animation-delay: 0.15s;
        }
        &.e3 {
            animation-delay: 0.3s;
        }
    }

    .btn-submit.loading {
        .lbl-criar-conta {
            display: none;
        }
        .ellipse {
            animation-duration: 0.45s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-name: animate;
            animation-timing-function: ease-in-out;
            display: inline-block;
        }
    }

    /* Confirmation Screen */
    .confirmation {
        text-align: center;
        margin: 92px 60px;
    
        .subtitle {
            margin-bottom: 21px;
            margin-top: 16px;
        }
    
        img.checked {
            border: 3px solid $button-success-color;
            border-radius: 50%;
            padding: 29px 24px 26px 24px;
            width: 35px;
            height: 26px;
        }
    
        span {
            line-height: 26px;
            font-size: 16px;
            color: $text-color;
        }
    }
}

@keyframes animate {
    0% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(1.0);
    }
}